/* Tambahkan gaya responsif */
.content {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.text {
    text-align: center;
}

p {
    text-align: center;
}

.slider-image {
    width: 100%;
    height: auto;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #27598f;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}